:root {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

#start-gamebtn {
    place-self: center;
}

#page-title {
    text-align: center;
}

.turn {
    place-self: center;
    text-align: center;
    border: 1px solid green;
    padding: 1rem;
    width: 360px;
}

.board {
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 360px;
    height: 360px;
}

.cell {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1px solid black;
    font-size: 4rem
}

.game-status {
    place-self: center;
    text-align: center;
    font-size: 2rem;
    background-color: azure;
    width: 360px;
}